### Importing the Libraries

In [45]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

### importing the dataset

In [46]:
df = pd.read_csv('online.csv')

In [47]:
df = pd.DataFrame(df)
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [48]:
df.shape

(50, 5)

In [49]:
df.isnull().sum() #checking null values

Marketing Spend    0
Administration     0
Transport          0
Area               0
Profit             0
dtype: int64

In [50]:
#  if missing anything or null
# missing = df.Administration.mean()
# df.Adminstration = df.Adminstration.fillna(missing)

## Separe x,y

In [51]:
x = df.drop(['Profit'], axis=1)

In [52]:
y = df['Profit']

## One hot Encoding

In [53]:
# conver the column into categorical columns
city = pd.get_dummies(x['Area'], drop_first=True)
city

    Dhaka  Rangpur
0    True    False
1   False    False
2   False     True
3    True    False
4   False     True
5    True    False
6   False    False
7   False     True
8    True    False
9   False    False
10  False     True
11  False    False
12  False     True
13  False    False
14  False     True
15   True    False
16  False    False
17   True    False
18  False     True
19   True    False
20  False    False
21   True    False
22  False     True
23  False     True
24   True    False
25  False    False
26  False     True
27   True    False
28  False     True
29   True    False
30  False     True
31   True    False
32  False    False
33  False     True
34  False    False
35   True    False
36  False     True
37  False    False
38   True    False
39  False    False
40  False    False
41  False     True
42  False    False
43   True    False
44  False    False
45   True    False
46  False     True
47  False    False
48   True    False
49  False    False

In [54]:
# Drop the Area column
x = x.drop('Area', axis=1)
x

    Marketing Spend  Administration  Transport
0         114523.61       136897.80  471784.10
1         162597.70       151377.59  443898.53
2         153441.51       101145.55  407934.54
3         144372.41       118671.85  383199.62
4         142107.34        91391.77  366168.42
5         131876.90        99814.71  362861.36
6         134615.46       147198.87  127716.82
7         130298.13       145530.06  323876.68
8         120542.52       148718.95  311613.29
9         123334.88       108679.17  304981.62
10        101913.08       110594.11  229160.95
11        100671.96        91790.61  249744.55
12         93863.75       127320.38  249839.44
13         91992.39       135495.07  252664.93
14        119943.24       156547.42  256512.92
15        165349.20       122616.84  261776.23
16         78013.11       121597.55  264346.06
17         94657.16       145077.58  282574.31
18         91749.16       114175.79  294919.57
19         86419.70       153514.11       0.00
20         76253.86       113867.30  298664.47
21         78389.47       153773.43  299737.29
22         73994.56       122782.75  303319.26
23         67532.53       105751.03  304768.73
24         77044.01        99281.34  140574.81
25         64664.71       139553.16  137962.62
26         75328.87       144135.98  134050.07
27         72107.60       127864.55  353183.81
28         66051.52       182645.56  118148.20
29         65605.48       153032.06  107138.38
30         61994.48       115641.28   91131.24
31         61136.38       152701.92   88218.23
32         63408.86       129219.61   46085.25
33         55493.95       103057.49  214634.81
34         46426.07       157693.92  210797.67
35         46014.02        85047.44  205517.64
36         28663.76       127056.21  201126.82
37         44069.95        51283.14  197029.42
38         20229.59        65947.93  185265.10
39         38558.51        82982.09  174999.30
40         28754.33       118546.05  172795.67
41         27892.92        84710.77  164470.71
42         23640.93        96189.63  148001.11
43         15505.73       127382.30   35534.17
44         22177.74       154806.14   28334.72
45          1000.23       124153.04    1903.93
46          1315.46       115816.21  297114.46
47             0.00       135426.92       0.00
48           542.05        51743.15       0.00
49             0.00       116983.80   45173.06

In [55]:
# concatenation 
x = pd.concat([x,city], axis=1)

In [56]:
x

    Marketing Spend  Administration  Transport  Dhaka  Rangpur
0         114523.61       136897.80  471784.10   True    False
1         162597.70       151377.59  443898.53  False    False
2         153441.51       101145.55  407934.54  False     True
3         144372.41       118671.85  383199.62   True    False
4         142107.34        91391.77  366168.42  False     True
5         131876.90        99814.71  362861.36   True    False
6         134615.46       147198.87  127716.82  False    False
7         130298.13       145530.06  323876.68  False     True
8         120542.52       148718.95  311613.29   True    False
9         123334.88       108679.17  304981.62  False    False
10        101913.08       110594.11  229160.95  False     True
11        100671.96        91790.61  249744.55  False    False
12         93863.75       127320.38  249839.44  False     True
13         91992.39       135495.07  252664.93  False    False
14        119943.24       156547.42  256512.92  False     True
15        165349.20       122616.84  261776.23   True    False
16         78013.11       121597.55  264346.06  False    False
17         94657.16       145077.58  282574.31   True    False
18         91749.16       114175.79  294919.57  False     True
19         86419.70       153514.11       0.00   True    False
20         76253.86       113867.30  298664.47  False    False
21         78389.47       153773.43  299737.29   True    False
22         73994.56       122782.75  303319.26  False     True
23         67532.53       105751.03  304768.73  False     True
24         77044.01        99281.34  140574.81   True    False
25         64664.71       139553.16  137962.62  False    False
26         75328.87       144135.98  134050.07  False     True
27         72107.60       127864.55  353183.81   True    False
28         66051.52       182645.56  118148.20  False     True
29         65605.48       153032.06  107138.38   True    False
30         61994.48       115641.28   91131.24  False     True
31         61136.38       152701.92   88218.23   True    False
32         63408.86       129219.61   46085.25  False    False
33         55493.95       103057.49  214634.81  False     True
34         46426.07       157693.92  210797.67  False    False
35         46014.02        85047.44  205517.64   True    False
36         28663.76       127056.21  201126.82  False     True
37         44069.95        51283.14  197029.42  False    False
38         20229.59        65947.93  185265.10   True    False
39         38558.51        82982.09  174999.30  False    False
40         28754.33       118546.05  172795.67  False    False
41         27892.92        84710.77  164470.71  False     True
42         23640.93        96189.63  148001.11  False    False
43         15505.73       127382.30   35534.17   True    False
44         22177.74       154806.14   28334.72  False    False
45          1000.23       124153.04    1903.93   True    False
46          1315.46       115816.21  297114.46  False     True
47             0.00       135426.92       0.00  False    False
48           542.05        51743.15       0.00   True    False
49             0.00       116983.80   45173.06  False    False

# Splitting the dataset into the Training set and Test Set

### import library

In [57]:
from sklearn.model_selection import train_test_split

In [58]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size = 0.25, random_state = 0)

## Fitting Multiple Linear Regression to the Training Set

In [62]:
from sklearn.linear_model import LinearRegression

In [60]:
regressor = LinearRegression()

In [61]:
regressor.fit(xtrain, ytrain)

LinearRegression()

In [65]:
xtest

    Marketing Spend  Administration  Transport  Dhaka  Rangpur
28         66051.52       182645.56  118148.20  False     True
11        100671.96        91790.61  249744.55  False    False
10        101913.08       110594.11  229160.95  False     True
41         27892.92        84710.77  164470.71  False     True
2         153441.51       101145.55  407934.54  False     True
27         72107.60       127864.55  353183.81   True    False
38         20229.59        65947.93  185265.10   True    False
31         61136.38       152701.92   88218.23   True    False
22         73994.56       122782.75  303319.26  False     True
4         142107.34        91391.77  366168.42  False     True
33         55493.95       103057.49  214634.81  False     True
35         46014.02        85047.44  205517.64   True    False
26         75328.87       144135.98  134050.07  False     True

In [64]:
ytest

28    103282.38
11    144259.40
10    146121.95
41     77798.83
2     191050.39
27    105008.31
38     81229.06
31     97483.56
22    110352.25
4     166187.94
33     96778.92
35     96479.51
26    105733.54
Name: Profit, dtype: float64

## Predicting the test set result

In [67]:
pred = regressor.predict(xtest)

In [68]:
pred

array([103501.0825284 , 128011.28068627, 126695.43891127,  70573.91718775,
       173381.96874259, 124238.07860872,  69298.09250304,  98399.41936876,
       116419.1480864 , 161430.98134847,  94740.73303076,  89920.22800514,
       105956.86065332])

In [74]:
regressor.score(xtest,ytest)

0.884097862392347

# R-Squared Value

In [70]:
from sklearn.metrics import r2_score

In [73]:
score = r2_score(ytest, pred)
score

0.884097862392347